@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #1A1A1A;
  /* Rich Black */
  /* Degradado premium: Blanco arriba a la izquierda hacia Warm Bone abajo a la derecha */
  background: linear-gradient(135deg, #FFFFFF 0%, #EBEAE6 100%);
  min-height: 100vh;
  background-attachment: fixed;
  margin: 0;
}